<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>W-Hotels</title>
    <link rel="icon" type="image/png" href="/css/images/black_logo.png.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <nav class="nav">
                <a href="/" class="logo">
                    <img src="/css/images/w_logo.png" alt="">
                </a>
                <div class="hamburger-menu">
                    <i class="fas fa-bars"></i>
                    <i class="fas fa-times"></i>
                </div>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/hotels" class="nav-link">Hotels</a>
                    </li>


                    <li class="nav-item">
                        <a href="/contact" class="nav-link">Contact</a>
                    </li>
                    <% if(auth){ %>
                        <li class="nav-item">
                            <a href="/reservations" class="nav-link">Reservations</a>
                        </li>
                        <li class="nav-item">
                            <a href="/" class="nav-link" id="logout">Logout</a>
                        </li>
                        <% } else{ %>
                            <li class="nav-item">
                                <a href="/login" class="nav-link">Login/Sign up</a>
                            </li>
                            <% } %>
                </ul>
            </nav>
        </div>
    </header>

    <section class="rooms">
        <div class="container">
            <h5 class="section-head">
                <span id="hotel-name" class="room-heading"><%= hotel.hotelName %></span>
                <!-- <span class="room-sub-heading">Avarage rating : <%= hotel.guestReviews.avgRating %></span> -->
                <p class="paragraph" id="checkInTitle">Check In:</p>
                <p class="paragraph" id="checkIn">
                    <%= checkIn %>
                </p>
                <p class="paragraph" id="checkOutTitle">Check Out:</p>
                <p class="paragraph" id="checkOut">
                    <%= checkOut %>
                </p>

            </h5>
            <div class="grid rooms-grid">
                <div class="grid-item featured-rooms">
                    <div class="room-info-wrap">
                        <h5 class="room-name">Luxurious Family Room</h5>

                        <img class="room-image" src="/css/images/room_4.jpg" alt="">
                        <span class="room-price">$<%= hotel.pricePerNight %><span class="pern-night">
                        Per Night</span>
                        </span>
                        <p class="paragraph">
                            The biggest suite in the hotel. has flat screen TV, ocean view, queens size bed and a pourch.
                        </p>
                        <div class="input-group">
                            <label for="rooms" class="input-label">How many rooms</label>
                            <label for="regular-room-amount"></label><select id="regular-room-amount" name="adultsChoice" class="options">
                            <option selected="0">0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                        </div>
                        <button onclick="addReservation()" class="btn rooms-btn">Book Now</button>
                    </div>
                </div>


                <div class="grid-item featured-rooms">
                    <div class="room-info-wrap">
                        <h5 class="room-name">Ocean View Suite</h5>
                        <img class="room-image" src="/css/images/room_8.jpg" alt="">
                        <span class="room-price">$<%= hotel.pricePerSuite %><span class="pern-night">
                        Per Night</span>
                        </span>
                        <p class="paragraph">
                            The perfect choice if you enjoy a nice beach view !
                            Includes breakfast too!
                        </p>
                        <div class="input-group">
                            <label for="rooms" class="input-label">How many rooms</label>
                            <select id="suite-room-amount" name="adultsChoice" class="options">
                            <option selected="0" >0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </section>



    <footer class="footer ">
        <div class="container ">
            <div class="footer-content ">
                <div class="footer-content-brand ">
                    <a href="/" class="logo ">
                        <img class="logo-image " src="/css/images/w_logo.png " alt=" ">
                    </a>
                    <div class="paragraph ">
                        E-mail: whotelsproject@gmail.com
                    </div>
                </div>
                <div class="social-media-wrap ">
                    <h4 class="footer-heading ">Follow Us</h4>
                    <div class="social-media ">
                        <a href="https://he-il.facebook.com/WHotels/ " class="sm-link "><i
                                class="fab fa-facebook-square "></i></a>
                        <a href="https://www.instagram.com/whotels/ " class="sm-link "><i
                                class="fab fa-instagram "></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="/scripts/reservations.js "></script>
</body>